<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>

        <title>Reservando Agencia Local...</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6 container justify-content-center card">
                    <br>
                    <h1 class="text-center">Agencias Locales BD</h1>

                    <div class="card-body">
                        <form th:action="@{/saveAgenciaLocal}" th:object="${AgenciaLocal}" method="POST"> <!-- th:object = objeto que se define en /nuevaReservacionActividada (line 38) -->



                            <div class="form-group">
                                <label th:text="#{agencia.nombre}"> </label> <!-- Titulo Text Field -->
                                <input type="text" name="nombre" th:field="*{nom_agencia_local}" class="form-control" placeholder="Nombre de la agencia" required> <!-- TextField -->

                            </div>
                    </div>

                    <br><!-- espaciado -->



                    <div class="box-footer">
                        <button type="submit" class="btn btn-success" value="Guardar" th:text="#{tabla.guardar}"></button>
                        <button class="btn btn-danger" href="/agencias" th:text="#{tabla.volver}"></button>
                    </div>

                    <br>


                    </form>         <!-------------------Esto es un Formulario--------------- -->
                </div>
            </div>
        </div>
    </div>
</body>
<footer th:replace="plantilla/templates::footer"></footer>
</html>

