<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="C:\Users\ala11\OneDrive\Escritorio\U shit\bootstrap-5.0.2-dist\css" media="all" rel="stylesheet">


    </head>
    <body>
        <div> <table class="table table-bordered"> <!-- Comienzo Tabla -->

                <thead class="table table-dark table-striped">
                    <tr>
                        <th scope="col">Local </th>
                        <th scope="col">Acciones </th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="agencia : ${agenciaslocales}"> <!-- Rellenado Tabla -->
                    <tr> 

                        <td th:text="${agencia.getNomAgenciaLocal}"></td> <!-- Nombres Actividades -->
                        <td>
                            <a th:href="@{/editAgenciasLocales/{id}(id=${agencia.getId})}">Editar</a> <!-- Opcion Editar -->
                            <a th:href="@{/deleteAgenciaLocal/{id}(id=${agencia.getId})}">Cancelar</a> <!-- Opcion Eliminar -->
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table></div>
    </body>
</html>
