<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>

        <title>Reservando Agencia Local...</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6 container justify-content-center card">
                    <br>
                    <h1 class="text-center">Reservar Agencia Local</h1>

                    <div class="card-body">
                        <form th:action="@{/saveReservacionAgencia}" th:object="${ReservacionAgencias}" method="POST"> <!-- th:object = objeto que se define en /nuevaReservacionActividada (line 38) -->

                            <input type="hidden" th:field="*{id}">


                            <div class="form-group mb-3 row">
                                <label class="form-control-sm col-form-label col-md-2" for="dropdownAgencias">Agencia</label>
                                <div class="col-sm-10">
                                    <select th:field="*{agenciar}" class="form-control form-control-sm col-md-6" id="agenciar" aria-describedby="emailHelp">
                                        <option th:each="x:${dropdownAgencias}"
                                                th:value="${x.id}"
                                                th:text="${x.nomAgenciaLocal}"/>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Actividad: </label> <!-- Titulo Text Field -->
                                <input type="text" name="nombre" th:field="*{agenciar}" class="form-control" placeholder="Nombre de la agencia" required> <!-- TextField -->

                            </div>
                            <div class="form-group">
                                <label>Fecha: </label> <!-- Titulo Text Field -->
                                <input type="text" name="fecha" th:field="*{fecha_agencia}" class="form-control" placeholder="yyyy-dd-mm" required> <!-- TextField -->

                            </div>
                            <div class="form-group">
                                <label>Hora: </label> <!-- Titulo Text Field -->
                                <input type="text" name="hora" th:field="*{hora_agencia}" class="form-control" placeholder="Ingrese solamente la hora en formato 24 horas" required> <!-- TextField -->
                            </div>
                            <div class="form-group">
                                <label>Cantidad Personas: </label> <!-- Titulo Text Field -->
                                <input type="text" name="cantidad" th:field="*{cantidad_personas_agencia}" class="form-control" placeholder="Cantidad de personas" required> <!-- TextField -->
                            </div>





                    </div>

                    <br><!-- espaciado -->



                    <div class="box-footer">
                        <button type="submit" class="btn btn-success" value="Guardar">Guardar</button>
                        <button type="submit" class="btn btn-danger" href="/reservacionRestaurantes" >Volver</button>
                    </div>

                    <br>


                    </form>         <!-------------------Esto es un Formulario--------------- -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
