<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/templates::head"></head>
    <title>Reservar Actividad</title>
</head>
<body>
    <header th:replace="plantilla/templates::header"></header>

    <h1 th:text="${titulo}"></h1> <!-- Titulo tabla -->

    <link href="C:\Users\ala11\OneDrive\Escritorio\U shit\bootstrap-5.0.2-dist\css" media="all" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <div class="mb-3"> <!-- Nombre Actividad -->
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1"  th:text="${actividad.getActividades}">
    </div>


</body>
<footer th:replace="plantilla/templates::footer"></footer>
</html>